body {
    margin: 0px;
    border: none;
    position: fixed;
    width: 100vw;
    height: 100vh;

    img[alt='signin'] {
        position: absolute;
        aspect-ratio: 5/5;
        width: 45vw;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
    }

    img[alt='logo'] {
        position: absolute;
        top: 5%;
        aspect-ratio: 10/3;
        width: 200px;
        left: 50px;
    }

    #theme {
        position: absolute;
        padding: 5px;
        // background-color: black;
        width: 5vh;
        color: rgb(129, 129, 129);
        aspect-ratio: 3/2;
        text-align: center;
        z-index: 1;
    }

    .signin_form {
        aspect-ratio: 5/5;
        // background-color: cyan;
        position: absolute;
        top: 55%;
        left: 7%;
        display: grid;
        width: 90%;
        max-width: 400px;
        transform: translateY(-50%);
        line-height: 2;

        .logintitle {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            padding: 2px;
            margin-top: 0px;
        }

        #maildiv {
            display: grid;
            position: relative;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            margin-bottom: 13px;

            #email {
                position: relative;
                background-color: #E8505B40;
                border: none;
                border-radius: 5px;
                padding: 10px;
                outline: none;
            }
            p{
                position: relative;
                margin: 0px;
                // background-color: red;
                font-weight: 100;
                color: red;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }

        #passdiv {
            display: grid;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            margin-bottom: 13px;

            #pass {
                position: relative;
                background-color: #E8505B40;
                border: none;
                border-radius: 5px;
                padding: 10px;
                outline: none;
            }
            p{
                position: relative;
                margin: 0px;
                // background-color: red;
                font-weight: 100;
                color: red;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }



        #signin_sub {
            position: relative;
            background-color: #E8505B;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: white;
            height: 35px;
            width: auto;
            // top: -15px;
            outline: none;
            cursor: pointer;
            margin-top: 15px;
        }

        #signin_sub:active {
            background-color: #8c2129;
        }

        #signup {
            position: relative;
            font-family: sans-serif;
            text-align: center;
            // background-color: #E8505B;
            top: 5px;
        }

        .checkandforgot {
            display: inline-flex;
            position: relative;
            // background-color: aquamarine;
            overflow: visible;
            // aspect-ratio: 10/1;

            #checkbox {
                position: inherit;
                font-family: sans-serif;
                left: 2px;
                input[type="checkbox"] {
                    background: green;
                }
            }

            #forgotpass {
                position: absolute;
                font-family: sans-serif;
                right: 0px;
            }
        }
    }

}

@media screen and (max-width:1000px) {
    body {
        position: absolute;
        overflow: auto;
        .signin_form {
            position: absolute;
            left: 50%;
            top: 20%;
            margin-right: 5px;
            transform: translateX(-50%);
        }

        img[alt='logo'] {
            left: 50px;
        }

        img[alt='signin'] {
            display: none;
        }
    }






}