.loadbody{
    background-color: #222;
    position: fixed;
    width: 100vw;
    height: 100vh;
    img[alt='Loading']{
        position: absolute;
        left: 52%;
        top: 35%;
        transform: translateX(-50%);
    }
    svg{
        // background-color: blue;
        aspect-ratio: 5/2;
        width: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        position: relative;
        cir{
            position: absolute;
        }
    }
}